:root {
  --base-color: #363636;
  --comment-color: #767676;
  --keyword-color: #0000ee;
  --string-number-color: #880000;
  --regexp-symbol-color: #BC6060;
  --literal-color: #af00d7;
  --builtin-color: #008700;
  --meta-color: #1f7199;
  --meta-string-color: #4d99bf;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #E0E0E0;
  color: var(--base-color);
}

.hljs-subst {
  color: var(--base-color);
}

.hljs-comment {
  color: var(--comment-color);
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  color: var(--keyword-color);
}

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion,
.hljs-title,
.hljs-section {
  color: var(--string-number-color);
}

.hljs-title,
.hljs-section {
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: var(--regexp-symbol-color);
}

.hljs-literal {
  color: var(--literal-color);
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: var(--builtin-color);
}

.hljs-meta {
  color: var(--meta-color);
}

.hljs-meta-string {
  color: var(--meta-string-color);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}